body { font: 12px/15px Verdana, Verdana, Geneva, sans-serif; }

body.body_overflow { overflow: hidden; }

.centered_wrapper { max-width: 1200px; margin: 0 auto; }

a.link_underline { text-decoration: underline; }

a.link_underline:hover { text-decoration: none; }

.btn-success { color: #fff; }

.btn-success:hover, .btn-success:focus, .btn-success:active { color: #fff !important; }

.btn-success strong { font-size: 14px; line-height: 16px; }

.btn-success strong em { font-style: normal; }

.btn-success span { font-size: 12px; line-height: 14px; }

.copy { font-size: 12px; line-height: 14px; color: #787878; }

.copy a { color: #787878; }

.footer { background: #fbfbfb; }

.footer_menu a { font-size: 12px; line-height: 16px; color: #787878; }

@media (min-width: 768px) { .col_soc { -webkit-box-flex: 0; -webkit-flex: 0 0 280px; -ms-flex: 0 0 280px; flex: 0 0 280px; max-width: 280px; } }

.soc_lst { margin: 0 -4px; }

.soc_lst li { padding: 0 4px; }

.soc_lst li a { color: #c2c2c2; }

.soc_lst li a:hover { color: #449ad9; }

.soc_lst li i { font-size: 14px; }

.app_block { margin: 0 -9px; }

.app_block .cl { padding: 0 9px; -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }

.app_block a { height: 40px; display: block; background-repeat: no-repeat !important; background-position: 50% 50% !important; }

.app_block a.ios_app { background-color: #000; -webkit-border-radius: 10px; border-radius: 10px; background-image: url(../images/ios.svg); -webkit-background-size: contain; background-size: contain; }

.app_block a.android_app { background-color: #000; -webkit-border-radius: 10px; border-radius: 10px; background-image: url(../images/android.svg); -webkit-background-size: contain; background-size: contain; }

.app_block a:hover { background-color: #449ad9; }

@media (max-width: 767.98px) { .footer { text-align: center !important; }
  .footer .col_soc { text-align: center !important; }
  .footer .soc_lst i { font-size: 30px; }
  .footer .footer_menu li { text-align: center; } }

.header { background: #3b3b3b; padding-top: 7px; padding-bottom: 7px; position: fixed; top: 0; left: 0; right: 0; z-index: 2; }

.header a, .header button { outline: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; }

.main_holder { padding-top: 80px; }

@media (max-width: 575.98px) { .main_holder { padding-top: 60px; } }

.btn_tg_menu { margin-right: 24px; }

.btn_tg_menu .btn { padding: 0; }

.btn_tg_menu .dropdown-menu { width: 550px; }

.btn_tg_menu .dropdown-menu li { padding-bottom: 10px; }

.btn_tg_menu .dropdown-menu a { font-size: 14px; color: #000; }

.btn_tg_menu .dropdown-menu a:hover { color: #449ad9; text-decoration: none; }

.btn_tg_menu .dropdown-menu .ttl a { font-size: 16px; }

.main_nav { padding-left: 20px; }

.main_nav li { padding: 0 15px; }

.main_nav li > a { color: #fff; padding-top: 15px; padding-bottom: 15px; position: relative; display: block; }

.main_nav li > a:hover { text-decoration: none; }

.main_nav li > a:hover:before { content: ''; width: 100%; height: 3px; display: block; position: absolute; bottom: -7px; left: 0; background: #fff; }

.main_nav li.active > a { font-weight: bold; }

.main_nav .dropdown-menu { width: 260px; -webkit-border-radius: 0; border-radius: 0; border: 0; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); background: #fff; }

.main_nav .dropdown-menu > ul { min-height: 350px; max-height: 540px; overflow-y: auto; }

.main_nav .dropdown-menu > ul > li:hover .sub_drop { display: block; }

.main_nav .dropdown-menu > ul > li:hover > a { color: #449ad9; overflow: hidden; }

.main_nav .dropdown-menu > ul > li:hover > a:after { content: ""; display: block; width: 20px; height: 20px; position: absolute; right: -10px; top: 6px; background-color: #f4f4f4; -webkit-box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.1); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); z-index: 2; }

.main_nav .dropdown-menu ul li { padding: 0; }

.main_nav .dropdown-menu ul li .sub_drop { position: absolute; left: 100%; top: 0; width: 260px; display: none; background: #f4f4f4; height: 100%; overflow: auto; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.main_nav .dropdown-menu ul li .sub_drop ul { padding-top: 10px; }

.main_nav .dropdown-menu ul li .sub_drop ul a { font-weight: normal; }

.main_nav .dropdown-menu ul li .sub_drop ul .sub_ttl a { font-weight: bold; }

.main_nav .dropdown-menu ul li > a { font-family: Arial, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 18px; color: #6a6a6a; display: block; padding: 6px 17px; font-weight: bold; }

.main_nav .dropdown-menu ul li > a:before { content: none; }

.main_nav .dropdown-menu ul li > a:hover { color: #449ad9; }

.dropdown_user > a { display: block; }

.dropdown_user .dropdown-menu a { font-size: 13px; }

.dropdown_user img { -webkit-border-radius: 50%; border-radius: 50%; display: inline-block; max-width: 39px; height: auto; border: 1px solid #fff; }

.dropdown_user .dropdown-menu { background: #3b3b3b; }

.dropdown_user .dropdown-menu a { padding: 5px 10px; color: #fff; }

.dropdown_user .dropdown-menu a:hover { background: none; color: #449ad9; }

.dropdown_user .dropdown-menu a i { font-size: 16px; vertical-align: middle; margin-right: 10px; }

.nav_etc li { padding-left: 20px; }

.nav_etc li:first-child { padding-left: 0; }

.nav_etc li > a { color: #fff; }

.nav_etc li > a:hover { text-decoration: none; }

.nav_etc li.refill_link a { color: #8582bc; }

.nav_etc li.refill_link a i { font-size: 24px; }

.nav_etc li.refill_link a span, .nav_etc li.refill_link a i { display: inline-block; vertical-align: middle; }

.nav_etc li.refill_link a span { text-decoration: underline; }

.nav_etc li.refill_link a:hover { text-decoration: none; }

.nav_etc li.refill_link a:hover span { text-decoration: none; }

.nav_etc li.comments_link { position: relative; }

.nav_etc li.comments_link i { color: #161616; font-size: 24px; text-shadow: 1px 0 0  #4f4f4f; }

.nav_etc li.comments_link em { background: #d24a43; position: absolute; top: -9px; right: 0; font-size: 10px; line-height: 13px; color: #fff; font-style: normal; display: none; padding: 2px 4px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%); }

.nav_etc li.comments_link.active i { color: #fff; }

.nav_etc li.comments_link.active em { display: inline-block; }

.nav_etc li.earth_link { position: relative; }

.nav_etc li.earth_link i { color: #161616; font-size: 24px; text-shadow: 1px 0 0  #4f4f4f; }

.nav_etc li.earth_link em { background: #d24a43; position: absolute; top: -9px; right: 0; font-size: 10px; line-height: 13px; color: #fff; font-style: normal; display: none; padding: 2px 4px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%); }

.nav_etc li.earth_link.active i { color: #fff; }

.nav_etc li.earth_link.active em { display: inline-block; }

.etc_menu li { padding: 0 8px !important; }

.etc_menu li:first-child { padding-left: 0 !important; }

.etc_menu li:last-child { padding-right: 0 !important; }

.etc_menu li + li { position: relative; }

.etc_menu li + li:before { content: ''; height: 11px; width: 1px; background: #fff; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; }

.etc_menu a { font-size: 12px; line-height: 14px; color: #fff; }

.mob_menu { margin-right: 24px; }

.mob_menu > span { margin-top: 2px; cursor: pointer; }

.mob_menu_holder { position: fixed; top: 0; left: -100%; height: 100%; overflow: auto; background: #4c4c4c; border-right: 1px solid #3b3b3b; width: 60%; z-index: 100; padding: 30px; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.mob_menu_holder .close { display: none; }

.mob_menu_holder.active { left: 0; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.mob_menu_holder.active .close { display: block; color: #fff; opacity: 1; cursor: pointer; position: fixed; top: 10px; left: 60%; margin-left: 20px; }

@media (max-width: 575.98px) { .mob_menu_holder.active .close { left: auto; right: 10px; margin-left: 0; } }

.mob_menu_holder ul { padding: 15px 0; }

.mob_menu_holder ul a { font-size: 15px; line-height: 17px; color: #9b9a9a; display: block; padding: 10px; }

.mob_menu_holder ul a:hover { text-decoration: none; color: #449ad9; }

.mob_menu_holder ul.mob_menu_main { padding-top: 0; }

.mob_menu_holder ul.mob_menu_main a { font-size: 17px; line-height: 18px; color: #fff; }

.mob_menu_holder ul.mob_menu_main a:hover { color: #449ad9; }

@media (max-width: 575.98px) { .mob_menu_holder { width: -webkit-calc(100% - 40px); width: calc(100% - 40px); padding-left: 15px; padding-right: 15px; } }

@media (max-width: 991.98px) { .header .main_nav { display: none; } }

@media (max-width: 575.98px) { .nav_etc li.comments_link i, .nav_etc li.earth_link i { font-size: 18px; }
  .nav_etc li.comments_link em, .nav_etc li.earth_link em { font-size: 9px; padding: 1px 3px; }
  .nav_etc li { padding-left: 15px; }
  .dropdown_user img { max-width: 30px; }
  .dropdown_user > a:after { content: none; }
  .btn_tg_menu { margin-right: 15px; }
  .header .logo { -webkit-box-flex: 0; -webkit-flex: 0 0 80px; -ms-flex: 0 0 80px; flex: 0 0 80px; max-width: 80px; } }

.menu_mob_shadow { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background: rgba(76, 76, 76, 0.7); }

.menu_mob_shadow.active { display: block; }

html, body { height: 100%; }

.wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; height: 100%; }

.w1 { -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; padding-bottom: 30px; }

.footer { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

h1, h2 { margin: 0; font-size: 24px; line-height: 29px; color: #000; }

h3 { margin: 0; font-size: 12px; line-height: 16px; color: #000; font-weight: bold; }

h3 span { font-weight: normal; }

@media (min-width: 992px) { .col_sidebar { -webkit-box-flex: 0; -webkit-flex: 0 0 300px; -ms-flex: 0 0 300px; flex: 0 0 300px; max-width: 300px; } }

.sub_title strong { min-width: 100px; padding: 5px; display: inline-block; vertical-align: middle; text-align: center; font-size: 21px; line-height: 22px; color: #449ad9; font-weight: normal; -webkit-box-shadow: 0 0 9px 0px rgba(0, 1, 3, 0.33); box-shadow: 0 0 9px 0px rgba(0, 1, 3, 0.33); margin-right: 10px; }

.sub_title span { display: inline-block; vertical-align: middle; font-size: 12px; line-height: 14px; }

.sub_title span em { font-style: normal; }

.question_tooltip { color: #a8a8a8; font-size: 24px; display: inline-block; vertical-align: middle; cursor: pointer; }

.list_brief { font-size: 12px; line-height: 14px; color: #646464; margin: 0 -7px !important; }

.list_brief li { padding: 0 7px; border-right: 1px solid #646464; }

.list_brief li:last-child { border-right: 0; }

.about_project { border: 1px solid #e6e6e6; -webkit-border-radius: 6px; border-radius: 6px; }

.about_list { font-size: 12px; line-height: 15px; }

.about_list span { color: #3b3b3b; }

.about_list strong { color: #000; }

@media (max-width: 575.98px) { .about_list li { padding-top: 10px !important; padding-bottom: 10px !important; } }

.about_list_title { -webkit-box-flex: 0; -webkit-flex: 0 0 140px; -ms-flex: 0 0 140px; flex: 0 0 140px; max-width: 140px; padding-right: 15px; }

@media (max-width: 575.98px) { .about_list_title { -webkit-box-flex: 0; -webkit-flex: 0 0 100px; -ms-flex: 0 0 100px; flex: 0 0 100px; max-width: 100px; } }

.about_list_info { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; width: 100%; }

.task_item { border: 1px solid #8582bc; -webkit-border-radius: 10px; border-radius: 10px; }

.task_item .task_item_info { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; width: 100%; }

.task_item .task_item_ico { -webkit-box-flex: 0; -webkit-flex: 0 0 80px; -ms-flex: 0 0 80px; flex: 0 0 80px; max-width: 80px; }

.task_item .task_item_ico span { -webkit-border-radius: 50%; border-radius: 50%; height: 50px; width: 50px; display: block; position: relative; }

.task_item .task_item_ico span img { max-width: 100%; max-height: 100%; position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; padding: 5px; }

.task_item h3 { margin: 0; font-size: 16px; line-height: 18px; color: #449ad9; }

.task_item h3 a { color: #449ad9; }

.task_item p { margin: 0; padding-top: 15px; font-size: 12px; line-height: 16px; color: #797979; }

.task_item .task_item_title h3 { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; width: 100%; padding-right: 10px; }

.task_item .task_item_title strong { font-size: 21px; line-height: 22px; color: #3b3b3b; font-weight: normal; -webkit-box-flex: 0; -webkit-flex: 0 0 100px; -ms-flex: 0 0 100px; flex: 0 0 100px; max-width: 100px; }

@media (max-width: 575.98px) { .task_item .task_item_ico { display: none; }
  .task_item .task_item_title h3 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; padding: 0; }
  .task_item .task_item_title strong { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; text-align: left !important; padding-top: 10px; color: #75b359; } }

.share_list { margin: 0 -4px; }

.share_list li { -webkit-box-flex: 0; -webkit-flex: 0 0 48px; -ms-flex: 0 0 48px; flex: 0 0 48px; max-width: 48px; padding: 4px; }

.share_list li a { display: block; border: 1px solid #d2d2d2; -webkit-border-radius: 8px; border-radius: 8px; height: 40px; position: relative; color: #464646; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.share_list li a i { font-size: 15px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.share_list li a:hover { background: #449ad9; color: #fff; border-color: #449ad9; }

.user_block_photo { -webkit-box-flex: 0; -webkit-flex: 0 0 100px; -ms-flex: 0 0 100px; flex: 0 0 100px; max-width: 100px; }

.user_block_photo img { -webkit-border-radius: 10px; border-radius: 10px; }

.user_block_txt strong { font-size: 12px; line-height: 14px; color: #449ad9; }

.user_block_txt strong a { color: #449ad9; }

.user_block_txt span, .user_block_txt em { font-style: normal; font-size: 10px; line-height: 14px; }

.map_holder { height: 300px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; }

/*# sourceMappingURL=all.css.map */
