@import
  '_custom_bootstrap_vatiables.scss',
  '../../bower_components/bootstrap/scss/_functions.scss',
  '../../bower_components/bootstrap/scss/_variables.scss',
  '../../bower_components/bootstrap/scss/_mixins.scss';

body{
  font: 12px/15px Verdana, Verdana, Geneva, sans-serif;
  &.body_overflow{
    overflow: hidden;
  }
}
// The Mixin 
@mixin placeholder_custom{
  &:-ms-input-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &::-webkit-input-placeholder {
    @content
  }
}
.centered_wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
a.link_underline{
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}
.btn-success{
  color: #fff;
  &:hover,&:focus,&:active{
    color: #fff !important;
  }
  strong{
    font-size: 14px;
    line-height: 16px;
    em{
      font-style: normal;
    }
  }
  span{
    font-size: 12px;
    line-height: 14px;
  }
}